export(dc)
export(dc.centerMin)
export(permutation.comb)
export(collinear)
export(ang)
export(inPolygon)
export(outPolygon)
export(add.points)
export(symmetry.points)
export(dc.max)
export(symmetry.center)
export(elli.f)
export(elli.f.old)
export(elli.points)
export(outliers)
export(Polygon)
export(mappingsXYZ)
export(confidencexy)
export(lim.set)